@charset "utf-8";
/* CSS Document */
#paginainicio
{background:#9FFFFF}
#titulo
{background:#004080; color:#FFF}
#introduccion
{color:#008C46;size: 3;text-aling: justify;background: #FFF;margin: 1%}


